.App {
  text-align: center;
  margin:0 auto;
  width:66%;
}

body {
  color: #fff;
  background: rgb(30,107,174);
  background: radial-gradient(circle, rgba(30,107,174,1) 0%, rgba(29,104,170,1) 66%, rgba(1,23,55,1) 100%);
}
